{
    "manifest_version": 2,
    "name": "My Youtube - DEVELOPMENT BUILD",
    "short_name": "My YT",
    "description": "THIS EXTENSION IS FOR BETA TESTING",
    "version": "BUILD_NUMBER",
    "homepage_url": "https://github.com/uretgec/my-product-hunt",
    "icons": { 
        "16": "icons/16.png",   
        "32": "icons/32.png",
        "128": "icons/128.png" 
    },
    "author": "Uretgec",
    "content_scripts": [
        {
          "matches": ["*://www.youtube.com/*"],
          "js": ["contentScript.js"],
          "run_at": "document_start"
        }
    ]
  }